:root{
    --bg: #fff;
    --sh: #eee;
    --text: #673AB7;
}
.dark{
    --bg: #333;
    --sh: #222; 
    --text: #fff;
    color: var(--text);
} 
body{
    background-color: var(--sh);
}
/* box optimize */
.box{display: flex;}
.box.row{flex-direction: row;}
.box.col{flex-direction: column;}
.box.grid{flex-wrap: wrap;}

.box.center{
    justify-content: center;
    text-align: center;
}
 
.ui{
    box-shadow: 5px 5px 10px var(--sh);
    background-color:var( --bg);
    border-radius: 10px;
    color: #03a9f4;
    padding: 10px;
    margin: 10px;
}

.w-300{width: 300px;}
.w-full{width: -webkit-fill-available;}

button {
    border: 0;
    background-color: #03a9f4;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--sh);
}

b ,h1 {color: var(--text);}
